<div class="home-screen">
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <span><img class="logo" src="../../../assets/logo2.png" alt=""></span>
                    <p class="welcome-text">Welcome</p>
                    <h1 class="home-text">Let's Explore the world.</h1>
                    <button class="start-here-button mt20" [routerLink]="'/login'" mat-raised-button color="accent">Start Here</button>
                </div>
            </div>
        </div>
    </div>
</div>
